build --incompatible_enable_cc_toolchain_resolution
build --@rules_rust//rust/settings:extra_rustc_flag=-Cpanic=unwind
build --@rules_rust//rust/settings:extra_rustc_flag=-Cdebuginfo=1
build:release --compilation_mode=opt
build:release --@rules_rust//rust/settings:lto=fat
build:release --@rules_rust//rust/settings:codegen_units=1
test --test_output=errors
